body {

    background-image: url("d.jpg");
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-size: 30px;
    background-color: black
}

h1 {
    text-align: center;

}

.container{
    display:flex;
    float:right;
    justify-content: space-around;
    align-items:center;
    border: 2px solid white;
    
}

nav {
    text-align: center;
    margin-top: 50px;
}

nav a {
    color: rgb(255, 255, 255);
    padding: 0px 50px 10px 0;
    font-size: 46pt;
    position: relative;
    border: 2px solid white;
}


img {
    width: 160px;
    height: 160px;
    justify-content: flex-end;


}


